#navbar{
    display: flex;
    background-color: brown;
    color:white;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
button{
    height: fit-content;
    border: 0px;
    border-radius: 5px;
}
input{
    height: fit-content;
    border: 0px;
    border-radius: 5px;
}

#title{
    font-size: 30px;
}

#outer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 400px;
}

#inner{
    background-color: black;
    height: 200px;
    width: 300px;
}